[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
echovr-api = {editable = true, path = "."}

[dev-packages]
echovr-api = {editable = true, extras = ["docs"], path = "."}
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.7"
